.qr {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  // width: 50%;
}
.qr td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
}
.qr td.black { background-color: #000; }
.qr td.white { background-color: #fff; }

.qr-container{
  margin: 30px 0px;
}

.item-picture{
  width:300px;
  border-radius:10px;
}

.payment-options{
  padding-top:40px;
}
.payment-title{
  margin-bottom:20px;
}


.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  // grid-template-columns: 1fr 1fr 1fr;

  grid-auto-flow: row;
  grid-gap: 10px;

}

.cards {
  max-width: 1200px;
  margin: 0 auto 30px;
}

.card {
  position: relative;
  background-color: #eee;
  padding:20px;
  border-radius: 5px;
}

.article-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.top-right {
  position: absolute;
  top: 10px;
  padding: 5px 20px 5px 5px;
  
  background-color:#2a00d3;
  color:#fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0px;
}

.is-hidden{
  border: black 2px solid;
}

.is-live{
  border: green 2px solid;
}